@model CoOpHub.ViewModels.CoopsViewModel

@{
	ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>

<!-- Search form -->
@using (Html.BeginForm("Search", "Coops"))
{
	<div class="form-group">
		<div id="searchCoops" class="input-group">
			@Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by Host, Game, Genre, or Location..." })
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-search"></i>
			</span>
		</div>
	</div>
}

<!-- List of upcoming co-op sessions -->
<ul class="coops voffset4">
	@foreach (var coop in Model.UpcomingCoops)
	{
		<li>
			<div class="date">
				<div class="month">
					@coop.DateTime.ToString("MMM")
				</div>
				<div class="day">
					@coop.DateTime.ToString("d ")
				</div>
			</div>
			<div class="details">
				<span class="host">
					<a href="@Url.Action("Details", "Coops", new { id = coop.Id })">
						@coop.Host.Name
					</a>

					<!-- If co-op session is canceled, let the user know -->
					@if (coop.IsCanceled)
					{
						<span class="label label-warning">Canceled</span>
					}

					@if (Model.ShowActions)
					{
						<button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@coop.HostId">Follow</button>
					}
				</span>
				<span class="game">
					@coop.Game.Name
				</span>
				<span class="genre">
					@coop.Game.Genre.Name
				</span>
				@if (Model.ShowActions && !coop.IsCanceled)
				{
					<button 
							class="btn @(Model.Attendances.Contains(coop.Id) ? "btn-info" : "btn-default") btn-sm pull-right js-toggle-attendance" 
							data-coop-id="@coop.Id">
						Going?
					</button>
				}

			</div>
		</li>
	}
</ul>

@section scripts
{
	<script>
		$(document).ready(function () {
			// "attend coop" click event
			$(".js-toggle-attendance").click(function (e) {
				var button = $(e.target);

				// Check current button state to determine which action to toggle
				if (button.hasClass("btn-default")) {
					// Make ajax call to api to attend this coop
					$.post("/api/attendances", { coopId: button.attr("data-coop-id") })
						.done(function () {
							// Success callback - when api call done, update button look
							button
								.removeClass("btn-default")
								.addClass("btn-info")
								.text("Going");
						})
						.fail(function () {
							// Error callback
							alert("Something failed!");
						});
				} else {
					// Make ajax call to api to no longer attend this coop
					$.ajax({
						url: "/api/attendances/" + button.attr("data-coop-id"),
						method: "DELETE"
					})
						.done(function () {
							// Success scenario - when api call done, toggle button look
							button
								.removeClass("btn-info")
								.addClass("btn-default")
								.text("Going?")
						})
						.fail(function () {
							// Error scenario
							alert("Something failed!");
						});
				}				
			});

			// follow host click event
			$(".js-toggle-follow").click(function (e) {
				var button = $(e.target);

				// Make ajax call to api
				$.post("/api/followings", { followeeId: button.attr("data-user-id") })
					.done(function () {
						// Success callback - when api call done, update button look
						button.text("Following");
					})
					.fail(function () {
						// Error callback
						alert("Something failed!");
					});

			});
		});
	</script>
}