@model CoOpHub.ViewModels.CoopDetailsViewModel
@{
	ViewBag.Title = "Details";
}

<div id="details">
	<h2>
		@Model.Coop.Host.Name
		@if (User.Identity.IsAuthenticated)
		{
		
			<button data-user-id="@Model.Coop.HostId"
					class="btn
						@(Model.IsFollowing ? "btn-info" : "btn-default")
						js-toggle-follow"
					>@(Model.IsFollowing ? "Following" : "Follow")</button>
			}
	</h2>

	<p>Playing @Model.Coop.Game.Name at @Model.Coop.Venue on @Model.Coop.DateTime.ToString("d MMM") at @Model.Coop.DateTime.ToString("HH:mm")</p>

	@if (User.Identity.IsAuthenticated && Model.IsAttending)
	{
		<p>You are going to this event.</p>
	}
</div>

@section scripts
{
	<script>
		$(document).ready(function () {
			// Initialize coop details controller
			CoopDetailsController.init("#details");
		});
	</script>
}